@tailwind base;
@tailwind components;
@tailwind utilities;

/* avoid repeating same styling for text elements used many times */
@layer base {
    h1 {
        @apply text-lg font-thin sm:text-2xl md:text-4xl; 
    }
    
    h2 {
        @apply text-base font-extralight sm:text-xl;
    }

    h3 {
        @apply text-sm font-light sm:text-base;
    }

    p {
        @apply text-base font-extralight sm:text-lg;
    }

    h1,h2,h3,h4,h5,h6 {
        @apply text-center;
    }
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.15s !important;
    text-align: center;
}

html,
body,
#root,
.App {
    height: 100%;
}

p,.table__heading {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

p {
    -webkit-line-clamp: 4;
}

.table__heading {
    -webkit-line-clamp: 1;
}

.page *:not(video) {
    z-index: 5;
}

.arrow__btn:hover {
    transform: scale(1.25);
}

.arrow__btn:active {
    transform: scale(1);
}

.modal h2 {
    color: #fff;
}

.home__results::-webkit-scrollbar {
    width: 9px;
}

.home__results::-webkit-scrollbar-track,
.home__results::-webkit-scrollbar-thumb {
    border-radius: 50px;
}

.home__results::-webkit-scrollbar-track {
    background: #e0e0e0;
    margin-top: 5px;
    margin-bottom: 25px;
}

.home__results::-webkit-scrollbar-thumb {
    background: #888;
}

.home__results::-webkit-scrollbar-thumb:hover {
    background: #555;
}